<style type="text/css">
  .pagination{
    margin: 0 20%;
    text-align: center;
  }

  span > a{
    color: #008ad1;
  }
</style>
<div class="pagination">  
 <span class="step-links">  
  {% if page.has_previous %}  
      <a href="?page={{ page.previous_page_number }}">Предыдущая</a>  
  {% endif %}  
    <span class="current">  
  Страница {{ page.number }} из {{ page.paginator.num_pages }} 
    </span>  
  {% if page.has_next %}  
        <a href="?page={{ page.next_page_number }}">Следующая</a>  
  {% endif %}  
  </span>  
</div>
