{% extends "base.html" %}
{% load static %}
  {%  block content %}
  	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  	<div class="title" id="section1">1. Структура</div>
  		<section class="section_1">
	  			<div class="block_and">
	  				<span class="title_about"> Краткие сведения о ФМШ МАИ</span><br />
	  				Школа работает более 50 лет и является структурным подразделением МАИ. Председателем педагогическсого совета ФМШ является проректор института. За организацию и провдеение занятий отвечает директор ФМШ. В настоящий момент а школе одновременно обучается более 200 человек. За время работы в ФМШ подготовлено более 7000 выпскников, среди них высококвалифицированные спеуиалисты оборонной промышленности, доктора и кандидаты наук, руководители крупшнейших учредждений, преподаватели вузов  и частных школ. Часть из них отмечена высокими государственными наградами.</div>

	  		<div class="images"><img src="{% static 'main/images/2.jpg'%}"></div>

  			<div class="images"><img src="{% static 'main/images/3.jpg'%}"></div>
	  			<div class="block_and">
	  				<span class="title_about"> Поступление в университет</span><br />
	  				Около 95% выпускников поступают на желаемую специальность, несмотря на высокий конкурс.
					Выпускники ФМШ имеют высокий уровень знаний и хорошо подготовлны к самостоятельной учебной деятельности. При выборе кандидатов на научно-исследовательскую работу при всех прочих равных условиях предпочтение отдается студентам, окончившим ФМШ. Выпускники ФМШ имеют высокий уровень знаний и хорошо подготовлны к самостоятельной учебной деятельности. При выборе кандидатов на научно-исследовательскую работу при всех прочих равных условиях предпочтение отдается студентам, окончившим ФМШ. Выпускники ФМШ имеют высокий уровень знаний и хорошо подготовлны к самостоятельной учебной деятельности.</div>

	  			
	  			<div class="block_and">
	  				<span class="title_about"> Система обучения</span><br />
	  				Система обучения в ФМШ уникальная. Занятия проводятся в форме лекций и семинаров, содержание которых четко увязано. На лекциях излагается оригинальный теоретический материал, снабженный интересными примерами. На семинарах учат подходам и способам решения сложных задач, побуждают размышлять и грамотно применять теорию. "Самоподготовка" в основном связана с решением домашних заданий. Система контроля знаний и уровня подготовки учащихся похожа на институтскую: проводятся контрольные работы, переводные и вступительные экзамены. В группе занимаются не более 17 человек. Система обучения в ФМШ внедрена в двух лицеях Московской области, где в течении последних 15 лет получены высокие результаты.  
	  			</div>

	  			<div class="images"><img src="{% static 'main/images/5.jpg'%}"></div>

	  		</section> 
	  		
	  			<div id="educationplan">
	  				<p>Более подробно с учебным планом Вы можете ознакомиться <a href="https://drive.google.com/drive/u/1/my-drive" id="cls">здесь</a></p>
	  			</div>
  		</section>

  		<br />

  		<div class="title">
  				2. Преимущества
  		</div>
 			
  		<section class="section 2"  id="section2">
  			<div class="advant">
				<div class="why_us">
			
						<div class="step 1">
							
							<img src="{%static 'main/images/book.png' %}">
							<p>Уникальная, поверенная годами система подготовки будущих студентов МАИ</p>

						</div>


						<div class="step 2">
							
							<img src="{%static 'main/images/bui.png' %}">
							<p>Особая среда, в котрой учащийся имеет возможность творчески работать и получать большое удовольствие</p>

						</div>


						<div class="step 3">
							
							<img src="{%static 'main/images/cal.png' %}">
							<p>Занятия проводятся 2 раза в неделю в вечернее время в помещениях института</p>

						</div>


						<div class="step 4">
							
							<img src="{%static 'main/images/lamp.png' %}">
							<p>Возможность приобрести навыки и умения, необходимые для творческого подходка к решению сложных задач</p>

						</div>

						<div class="step 5">
							
							<img src="{%static 'main/images/money.png' %}">
							<p>Вс расходы по обучению в ФМШ берет на себя Московский авиационный институт</p>

						</div>

						<div class="step 6">
							
							<img src="{%static 'main/images/atom.png' %}">
							<p>Углубленное изучение математики, физики, русского языка и литературы</p>

						</div>


						<div class="step 7">
							<img src="{%static 'main/images/prof.png' %}">
							<p>Преподаватели высшей квалификации, знающие и любящие школьников</p>

						</div>

						<div class="step 8">
							
							<img src="{%static 'main/images/univ.png' %}">
							<p>Ранняя профессиональная ориентация и осмысленный выбор будущей специальности</p>

						</div>
				</div>
			</div>



  		</section>


  		<div class="title">
  				3. Вопрос-Ответ
  		</div>

  		<section id="section3">

  		<div>

			<p id="seen" onclick="first()">Сколько стоит обучение в ФМШ МАИ?</p>
	
			<p id="open" onclick="second()">Сколько стоит обучение в ФМШ МАИ?</p>

				<div id="text_open">	

						Обучение в ФМШ абсолютно бесплатное, но необходимо сдать вступительные экзамены.
				</div>

		</div> 

		<div>

			<p id="seen1" onclick="first1()">Сколько раз в год происходит набор в ФМШ МАИ? Какие документы для этого требуются?</p>
	
			<p id="open2" onclick="second2()">Сколько раз в год происходит набор в ФМШ МАИ? Какие документы для этого требуются?</p>

				<div id="text_open1">	
						Набор в ФМШ происходит два раза в год: в сентябре и в апреле. Даты вступительных экзаменов публикуются на сайте и в официальном сообществе <a id="cls" href = "https://vk.com/fmshmai">Вконтакте</a>.
						Для поступления необходимы: справка из школы с печатью и 4 фотографии размером 4*6. Подробную информацию о поступлении Вы можете узнать <a href = "{% url 'enter' %}" id="cls">здесь</a>.

				</div>

		</div> 


		<div>

		<p id="seen2" onclick="first2()">Во сколько начинаются и во сколько заканиваются занятия в ФМШ МАИ?</p>
	
			<p id="open3" onclick="second3()">Во сколько начинаются и во сколько заканиваются занятия в ФМШ МАИ?</p>

				<div id="text_open2">	

						Занятия начинаются в 18:30, заканчиваются в 21:30. 

					</div>
 


		<p id="seen3" onclick="first3()">Дает ли ФМШ преимущество при поступлении в МАИ?</p>
	
			<p id="open4" onclick="second4()">Дает ли ФМШ преимущество при поступлении в МАИ?</p>

				<div id="text_open3">	

						Да, выпускники, получившие свидетельства об окончании, получают дополнительные 5 баллов

					</div>

					<p id="seen4" onclick="first4()">В каком режиме проходят занятия в ФМШ? 
					</p>
	
			<p id="open5" onclick="second5()">В каком режиме проходят занятия в ФМШ? 
			</p>

				<div id="text_open4">	

						Занятия проходят 2 раза в неделю по «институтской системе» лекция + семинар, т.е. ученики потоком слушают 80-минутную лекцию, а потом расходятся по группам на семинар такой же длительности. Такой формат обучения не только дает учащимся знания по предмету, но и приучает к режиму института, учит записывать лекции и слушать лектора (что будет очень полезно на первом курсе в институте). 


					</div>

			<p id="seen5" onclick="first5()">Трудно ли поступить в ФМШ? Сколько по времени будет идти каждый из экзаменов? </p>
	
				<p id="open6" onclick="second6()">Трудно ли поступить в ФМШ? Сколько по времени будет идти каждый из экзаменов?</p>

					<div id="text_open5">	

						Зачисление производится по результатам вступительных экзаменов.
						По каждому предмету можно набрать 5 баллов, в сумме 10 баллов.
					 	Есть понятие проходного балла. Проходной балл около 5-6, но каждый год меняется и зависит от результатов экзаменующихся.При этом мы не зачисляем ученика, если по одной из дисциплин он получил меньше одного балла.
					 	На написание экзамена дается три с половиной часа, экзамен начинается в 10:00. 
</p>



					</div>



</section>




<script>

function first() {
	document.getElementById("text_open").setAttribute("style", "opacity:1; transition: 1s; height: 100%; display: block;");
	document.getElementById("seen").setAttribute("style", "display: none");
	document.getElementById("open").setAttribute("style", "display: block");
}

function first1() {
	document.getElementById("text_open1").setAttribute("style", "opacity:1; transition: 1s; height: 100%; display: block;");
	document.getElementById("seen1").setAttribute("style", "display: none");
	document.getElementById("open2").setAttribute("style", "display: block");
}


function first2() {
	document.getElementById("text_open2").setAttribute("style", "opacity:1; transition: 1s; height: 100%; display: block;");
	document.getElementById("seen2").setAttribute("style", "display: none");
	document.getElementById("open3").setAttribute("style", "display: block");
}

function first3() {
	document.getElementById("text_open3").setAttribute("style", "opacity:1; transition: 1s; height: 100%; display: block;");
	document.getElementById("seen3").setAttribute("style", "display: none");
	document.getElementById("open4").setAttribute("style", "display: block");
}

function first4() {
	document.getElementById("text_open4").setAttribute("style", "opacity:1; transition: 1s; height: 100%; display: block;");
	document.getElementById("seen4").setAttribute("style", "display: none");
	document.getElementById("open5").setAttribute("style", "display: block");
}


function first5() {
	document.getElementById("text_open5").setAttribute("style", "opacity:1; transition: 1s; height: 100%; display: block;");
	document.getElementById("seen5").setAttribute("style", "display: none");
	document.getElementById("open6").setAttribute("style", "display: block");
}


function second() {
	document.getElementById("text_open").setAttribute("style", "display: none");
	document.getElementById("open").setAttribute("style", "display: none");
	document.getElementById("seen").setAttribute("style", "display: block");
}

function second2() {
	document.getElementById("text_open1").setAttribute("style", "display: none");
	document.getElementById("open2").setAttribute("style", "display: none");
	document.getElementById("seen1").setAttribute("style", "display: block");
}

function second3() {
	document.getElementById("text_open2").setAttribute("style", "display: none");
	document.getElementById("open3").setAttribute("style", "display: none");
	document.getElementById("seen2").setAttribute("style", "display: block");
}


function second4() {
	document.getElementById("text_open3").setAttribute("style", "display: none");
	document.getElementById("open4").setAttribute("style", "display: none");
	document.getElementById("seen3").setAttribute("style", "display: block");
}

function second5() {
	document.getElementById("text_open4").setAttribute("style", "display: none");
	document.getElementById("open5").setAttribute("style", "display: none");
	document.getElementById("seen4").setAttribute("style", "display: block");
}

function second6() {
	document.getElementById("text_open5").setAttribute("style", "display: none");
	document.getElementById("open6").setAttribute("style", "display: none");
	document.getElementById("seen5").setAttribute("style", "display: block");
}

</script>


  {% endblock %}